html{
	font-family: vagFont;
	overflow: hidden; 
}
@font-face{
	font-family: vagFont;
	src: url(../fonts/VAGRoundedStd-Light.otf);
}

#minParam{
	position:absolute;
	top: 495px;
	right: 920px;
	font-family: vagFont;
	font-size: 200%
}

#maxParam{
	position:absolute;
	top: 495px;
	left: 920px;
	font-family: vagFont;
	font-size: 200%
}

#currentHeight{
	position: absolute;
	top: 250px;
	right: 450px;
	font-family: vagFont;
	font-size: 800%;
	color: #0099ff;
}

#prompt{
	position: absolute;
	top: 10%;
	margin-left: 160px;
	font-family: vagFont;
	font-weight: 500;
	font-size: 500%
}

#continue{
	position: absolute;
	top: 80%;
	left: 265px;
}